body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
/* custom */
.fs-150 {
    font-size: 150px;
}

.w-24rem {
    width: "24rem";
}
.border-radius-8 {
    border-radius: "8px";
}
.fs-10{
  font-size: 10px;
}
.fs-14{
  font-size: 14px;
}
.fs-1{
  font-size: 1rem;
}
.fs-086{
  text-align: justify;
  font-size: 0.7rem;
}
